.DS_Store
*.py[cod]
**/__pycache__
*/.pytest_cache
venv/
.idea
settings.json
geckodriver.log
media/
*/migrations/*.py
!__init__.py
.vscode/
django_cache/
*.djcache
celerybeat-schedule.db
.coverage
htmlcov/
db.sqlite3
*.log
logs
*.env
static
templates